<h2>Edit Merchant</h2>
<hr/ >
<form action="/merchant/<%= @merchants.id %>/edit" method="post">
  <input type="text" name="name" value="<%= @merchants.name %>"><br>
  <input  type="submit" value="save">
</form>
