<h2>Edit Merchant</h2>
  <form action="/merchant/<%= @merchants.id %>/edit" method="post">
    <input type="text" name="name" value="<%= @merchants.name %>">
    <input  type="submit" value="save">
  </form>
