<section id="merchant-edit">
  <div class="container-lg">
    <div class="text-center">
      <p class="lead">
        <i class="bi bi-journal-arrow-up"></i>
      </p>
      <h2>
        <stong>
          <%= @merchant.name %>
        </strong>
      </h2>
    </div>
    <div class="row justify-content-center my-5">
      <div class="col-lg-6">
        <form action='/merchants/<%= @merchant.id %>' method='POST'>
          <div class="input-group mb-4">
            <span class="input-group-text">
              <i class="bi bi-pen"></i>
            </span>
            <input type="text" 
              name='name' 
              id="merchant-name" 
              placeholder="..." 
              aria-describedby='camerchantory' 
              class="form-control" 
              required 
            />
            <span class="input-group-text">
              <span class="tt" data-bs-placement="bottom" title="Enter a new camerchantory and your table will be updated.">
                <i class="bi bi-question-circle text-muted"></i>
              </span>
            </span>
          </div>
          <div class="mb-4 text-center">
            <button type="submit" class="btn btn-success">
              Save
            </button>
          </div>
          <div class="mb-4 text-center">
            <a href="/merchants" class="btn btn-secondary">
              Back
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
    <script>
      const tooltips = document.querySelectorAll('.tt')
      tooltips.forEach(t => {
        new bootstrap.Tooltip(t)
      })
    </script>
</section>
