<section id='merchant-create'>
  <div class='container-lg mt-4'>
    <div class='text-center'>
      <h2>Merchants.</h2>
      <p>Create or edit merchants and delete existing ones.</p>
    </div>
    <div class='row justify-content-center mb-4'>
      <div class='col-lg-6'>
        <form action='/merchants' method='POST'>
          <div class='input-group mb-4'>
            <label for='name'></label>
            <input type='text' id='name' name='name' class='form-control' placeholder='New Merchant' required />
            <div class='input-group-append'>
              <button class='btn btn-outline-success' type='submit'>Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section class='vendor-table'>
  <table class='table table-bordered table-hover table-responsive'>
    <thead class='thead-light'>
      <tr class='table-primary'>
        <th scope='col'>CATEGORY</th>
        <th class='text-center' scope='col'>EDIT</th>
        <th class='text-center' scope='col'>DELETE</th>
      </tr>
    </thead>
    <% for merchant in @merchants %>
    <tbody class='tbody'>
      <tr>
        <td scope='row'>
          <%= merchant.name %></a>
        </td>
        <td align='center' scope='row'>
          <a href='/merchants/<%= merchant.id %>/edit'>
            <button class='btn btn-outline-primary btn-sm px-3'>
              <i class='bi bi-pen'></i>
            </button>
          </a>
        <td>
          <form class='d-flex justify-content-center' 
            action='/merchants/<%= merchant.id %>/delete' 
            method='POST'>
              <button type='submit' class='btn btn-outline-danger btn-sm px-3'>
                <i class='bi bi-trash'></i>
              </button>
          </form>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</section>  