
<h1>Merchants</h1>

<form action="/merchant/new">
<input type="submit" value="New Merchant"></form>
  <% for merchant in @merchants %>
  <p><a href="/merchant/<%= merchant.id %>"> <%= merchant.name %></a></p>
  <% end %>
