<div class="card-body border create-card text-center shadow">
    <h5 class="card-title">New Category</h5>
    <p class="card-text">You will be able to <b>edit</b> or <b>delete</b> this merchant in your account after you have created it.</p>
  <form action="/merchant/new" method="post">
    <div class="form-group">
        <label for="name"></label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Amazon..." required>
    </div>
      <button type="submit" value="save" class="btn btn-success create-btn">Add</button>
  </form>
</div>
  
  