<div class="container">
        <h1 class="display-4">New Merchants</h1>
        <form action="/merchant/new" method="post">
            <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name"></label>
                <input type="text" name="name" class="form-control" id="merch" placeholder="Amazon...">
                <button type="submit" value="save" class="btn btn-success">Create</button>
            </div>