<h1>New Merchant</h1>
<hr/ >

<form action="/merchant/new" method="post">
  <label for="name">Merchant Name: </label><br>
  <input type="text" name="name"><br>
  <input type="submit" value="Save">
</form>

