<h2>Edit or Delete Merchant: <%= @merchants.name %></h2>

<form action="/merchant/<%=@merchants.id%>/delete" method="post">
<input type="submit" value="Delete"></form>

<form action="/merchant/<%=@merchants.id%>/edit" method="get">
<input type="submit" value="Edit"></form>

