<div class="card all-cards container-fluid text-center d-flex align-items-center justify-content-center" style="width: 18rem;">
  <img src="https://assets.dryicons.com/uploads/icon/svg/8548/e8e60209-9940-458d-85bd-cc225de62641.svg" class=" rounded-circle card-img-top" alt="card image">

  <div class="card-body">
    <h5 class="card-title"> <%= @merchants.name %> </h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <form action="/merchant/<%=@merchants.id%>/delete" method="post">
        <input type="submit" class="btn btn-danger edit-btn" value="Delete">
    </form>
    <form action="/merchant/<%=@merchants.id%>/edit" method="get">
        <input type="submit" class="btn btn-primary edit-btn" value="Edit">
    </form>
  </div>
</div>