<form action="/tags/<%= @tag.id %>" method = "post">

  <label for="name">Edit Tags:</label>
  <input type="text" id="name" name="add tag" value="<%= @tag.name %>">
  <input type="submit" value="update">

</form>
