<form action="/tags" method="POST">
  <label class="edit" for="name">New Tag:</label>
  <input type="text" id="name" name="name"><br>
  <input class="button" type="submit" value="Submit Change">
</form>
