<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" >
<title> </title>
</head>
<body>

<main role="main">
        <div class="container-fluid hero d-flex align-items-center justify-content-center">
            <div class="text-center">
                <h1 class="display-1 mb-0">MONEY BULK</h1>
                <h2 class="display-4 mt-0">The Balance That Matters.</h2>
                <a href="#bottom">
                    <span class="btn btn-primary btn-lg">
                        Learn More
                    </span>
                </a> 
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h3>WHO WE ARE</h3>
                    <p class="lead">
                        A growing company who strive to deliver industry-standard quality within acceptable time and
                        budget.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 my-4">
                    <h4>Better Spending habbits</h4>
                    <p class="text-muted">Duo alii civibus nostrum eu. Appetere vulputate no vim, ad usu nihil
                        assueverit, suscipit
                        ponderum posidonium mea ea. Ne eam malis percipit, sonet ludus eum eu. Causae latine scripta cu
                        sed, vis sensibus adipiscing persequeris ea, eros eripuit concludaturque in per</p>
                </div>
                <div class="col-sm-6 my-4">
                    <h4>Learn How to Budget Money </h4>
                    <p class="text-muted">Duo alii civibus nostrum eu. Appetere vulputate no vim, ad usu nihil
                        assueverit, suscipit
                        ponderum posidonium mea ea. Ne eam malis percipit, sonet ludus eum eu. Causae latine scripta cu
                        sed, vis sensibus adipiscing persequeris ea, eros eripuit concludaturque in per</p>
                </div>
                <div class="col-sm-6 my-4">
                    <h4>Prioritise Needs and Wants</h4>
                    <p class="text-muted">Duo alii civibus nostrum eu. Appetere vulputate no vim, ad usu nihil
                        assueverit, suscipit
                        ponderum posidonium mea ea. Ne eam malis percipit, sonet ludus eum eu. Causae latine scripta cu
                        sed, vis sensibus adipiscing persequeris ea, eros eripuit concludaturque in per</p>
                </div>
                <div class="col-sm-6 my-4">
                    <h4>Visualize your Finances</h4>
                    <p class="text-muted">Duo alii civibus nostrum eu. Appetere vulputate no vim, ad usu nihil
                        assueverit, suscipit
                        ponderum posidonium mea ea. Ne eam malis percipit, sonet ludus eum eu. Causae latine scripta cu
                        sed, vis sensibus adipiscing persequeris ea, eros eripuit concludaturque in per</p>
                </div>
            </div>
        </div>

        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                    <image></image>
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Categories image">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                            dy=".3em">140x140</text>
                            <image href="https://assets.dryicons.com/uploads/icon/svg/8546/aae8698c-c7bc-44d7-8f34-2e701c19b591.svg" x="0" y="0" height="150px" width="150px"/>
                    </svg>
                    <h2>Catagories</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh
                        ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                        Praesent commodo cursus magna.</p>
                    <p><a class="btn btn-secondary" href="/tag" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Merchants image">
                        <title>Placeholder</title>                        
                        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                            dy=".3em">140x140</text>
                            <image href="https://assets.dryicons.com/uploads/icon/svg/8535/89f3912e-1e7b-49d1-af1a-da0c2206da4d.svg" x="0" y="0" height="150px" width="150px"/>
                    </svg>
                    <h2>Merchants</h2>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                        Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo,
                        tortor mauris condimentum nibh.</p>
                    <p><a class="btn btn-secondary" href="/merchant" role="button">View details &raquo;</a></p>
                </div>
                <div id="bottom" class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Transactions image">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                            dy=".3em">140x140</text>
                            <image href="https://assets.dryicons.com/uploads/icon/svg/8547/faf9e20c-8556-4c3f-86e1-d71832b8a31b.svg" x="0" y="0" height="150px" width="150px"/>
                    </svg>
                    <h2>Transactions</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id
                        ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                        condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-secondary" href="/transaction" role="button">View details &raquo;</a></p>
                </div>
            </div>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>