<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <title>Spending Tracker</title>
  <link rel="stylesheet" type="text/css" href="http://localhost:4567/assets/style.css" >
</head>

</html>