<main role='main'>
    <div class='container-fluid hero d-flex align-items-center justify-content-center'>
        <div class='text-center'>
            <h1 class='hero-text-main display-1 mb-0'>MONEY BULK</h1>
                <h2 class='hero-text-main display-4 mt-0'>The Balance That Matters.</h2>
                    <a href='#bottom'>
                        <span class='btn btn-primary btn-lg'>
                            Learn More
                        </span>
                    </a> 
                </div>
            </div>
            <div class='container'>
                <div class='row'>
                    <div class='col-md-7'>
                        <h3>WHO WE ARE</h3>
                        <p class='lead'>
                            A growing company who strive to deliver industry-standard quality within acceptable time and
                            budget.
                        </p>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-6 my-4'>
                        <h4>Better Spending habbits</h4>
                        <p class='text-muted'>Duo alii civibus nostrum eu. Appetere vulputate no vim, ad usu nihil
                            assueverit, suscipit
                            ponderum posidonium mea ea. Ne eam malis percipit, sonet ludus eum eu. Causae latine scripta cu
                            sed, vis sensibus adipiscing persequeris ea, eros eripuit concludaturque in per</p>
                    </div>
                    <div class='col-sm-6 my-4'>
                        <h4>Learn How to Budget Money </h4>
                        <p class='text-muted'>Duo alii civibus nostrum eu. Appetere vulputate no vim, ad usu nihil
                            assueverit, suscipit
                            ponderum posidonium mea ea. Ne eam malis percipit, sonet ludus eum eu. Causae latine scripta cu
                            sed, vis sensibus adipiscing persequeris ea, eros eripuit concludaturque in per</p>
                    </div>
                    <div class='col-sm-6 my-4'>
                        <h4>Prioritise Needs and Wants</h4>
                        <p class='text-muted'>Duo alii civibus nostrum eu. Appetere vulputate no vim, ad usu nihil
                            assueverit, suscipit
                            ponderum posidonium mea ea. Ne eam malis percipit, sonet ludus eum eu. Causae latine scripta cu
                            sed, vis sensibus adipiscing persequeris ea, eros eripuit concludaturque in per</p>
                    </div>
                    <div class='col-sm-6 my-4'>
                        <h4>Visualize your Finances</h4>
                        <p class='text-muted'>Duo alii civibus nostrum eu. Appetere vulputate no vim, ad usu nihil
                            assueverit, suscipit
                            ponderum posidonium mea ea. Ne eam malis percipit, sonet ludus eum eu. Causae latine scripta cu
                            sed, vis sensibus adipiscing persequeris ea, eros eripuit concludaturque in per</p>
                    </div>
                </div>
            </div>
            <div class='container marketing'>
                <div class='row'>
                    <div class='col-lg-4'>
                        <svg class='rounded-circle mb-4' width='140' height='140'
                            xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid slice' focusable='false'
                            role='img' aria-label='Merchants image'>
                            <rect width='100%' height='100%' fill='#e5e5e5' /><text x='50%' y='50%' fill='#777'
                                dy='.3em'></text>
                                <image href='/images/tag.svg' x='15' y='12' height='120px' width='120px'/>
                        </svg>
                        <h2>Catagories</h2>
                        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh
                            ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                            Praesent commodo cursus magna.</p>
                        <p><a class='btn btn-secondary' href='/tags' role='button'>View details &raquo;</a></p>
                    </div>
                    <div class='col-lg-4'>
                        <svg class='rounded-circle mb-4' width='140' height='140'
                            xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid slice' focusable='false'
                            role='img' aria-label='Merchants image'>
                            <rect width='100%' height='100%' fill='#e5e5e5' /><text x='50%' y='50%' fill='#777'
                                dy='.3em'></text>
                                <image href='/images/merchant.svg' x='-6' y='7' height='130px' width='130px'/>
                        </svg>
                        <h2>Merchants</h2>
                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                            Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo,
                            tortor mauris condimentum nibh.</p>
                        <p><a class='btn btn-secondary' href='/merchants' role='button'>View details &raquo;</a></p>
                    </div>
                    <div id='bottom' class='col-lg-4'>
                        <svg class='rounded-circle mb-4' width='140' height='140'
                            xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid slice' focusable='false'
                            role='img' aria-label='Transactions image'>
                            <rect width='100%' height='100%' fill='#e5e5e5' /><text x='50%' y='50%' fill='#777'
                                dy='.3em'></text>
                                <image href='/images/transaction.svg' x='17' y='10' height='115px' width='115px' />
                        </svg>
                        <h2>Transactions</h2>
                        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id
                            ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                            condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class='btn btn-secondary' href='/transactions' role='button'>View details &raquo;</a></p>
        </div>
    </div>
</main>