<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <title>Spending Tracker</title>
</head>
<body>

<main role="main">
        <div class="container-fluid hero d-flex align-items-center justify-content-center">
            <div class="text-center">
                <h1 class="display-1 mb-0">METHOD MONEY</h1>
                <h2 class="display-4 mt-0">Built With devotion and Security.</h2>
                <button class="btn btn-lg btn-primary">Learn More</button>
            </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-7"
            <h3>WHO ARE WE</h3>
            <p class="lead">
            A growing company who strive to deliver industry-standard quality within acceptable time and
            budget.
            <p>
            </div>
        </div>
</body>
</html>