<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title id="title">Spending Tracker</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

  <div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/tag">Tags</a>
  <a href="/merchant">Merchants</a>
  <a href="/transaction">transactions</a>
</div>

    <%= yield %>

</body>

</html>