<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/home/new">Account</a>
    </li>
  </ul>
  <%= yield %>
</body>
</html>






<!-- <!DOCTYPE html>
<html>
<head>
  <title>Spending Tracker</title>
  <link href="" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <!-- <nav id="menu">
    <li class="menu-item"><a href='/     user'>username</a></li>
    <li class="menu-item"><a href='/user/new'>add merchant</a></li>
  </nav> -->
