<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spending Tracker</title>
  <link rel="stylesheet" type="text/css" href="assets/style.css" />
</head>

<body>
<h1> Spending Tracker </h1>
 <div class="pill-nav">
  <a class="active" href="/">Home</a>
  <a href="/tag">Tags</a>
  <a href="/merchant">Merchants</a>
  <a href="/transaction">Transactions</a>
<hr />
    <%= yield %>

</body>

</html>