<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title id="title">Spending Tracker</title>
<link rel="stylesheet" href="/style.css">
=======
  <meta charset="text/css>
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <title>Spending Tracker</title>
  <link rel="stylesheet" type="text/css" href="./assets/style.css" >
>>>>>>> 2b60bd34d75c2210d8fc1e477ec31b1282830007
</head>

<body>
<h1> Spending Tracker </h1>
 <div class="pill-nav">
  <a class="active" href="/">Home</a>
  <a href="/tag">Tags</a>
  <a href="/merchant">Merchants</a>
  <a href="/transaction">Transactions</a>
<hr />
    <%= yield %>

</body>

</html>