<p>Merchant Name: <%= @merchant.name %></p>
<p>Tag Name: <%= @tag.name %></p>
<p><a href="/home/<%= @transaction.id %>/edit"></a></p>
<form method="post" action="/home/<%= @transaction.id %>/delete">
  <input type="submit" value="Delete"/>
</form>
