<form action="/transactions/<%= transaction.id %>" method = "post">
  <label for="name">:</label>
  <input type="text" id="name" name="adding tag" value="<%= @tag.name %>">
  <input type="submit" value="updating tag">
</form>
