<h2>Edit Tag</h2>
  <form action="/tag/<%= @tags.id %>/edit" method="post">
    <input type="text" name="name" value="<%= @tags.name %>">
    <input type="submit" value="save">
  </form>


// https://assets.dryicons.com/uploads/icon/svg/8548/e8e60209-9940-458d-85bd-cc225de62641.svg
