<div class="card container-fluid mt-50 text-center  align-items-center justify-content-center" style="width: 18rem;">
  <img src="https://assets.dryicons.com/uploads/icon/svg/8541/ef4b0add-0cab-4157-a1c6-17300361abba.svg" class=" rounded-circle card-img-top" alt="card image">
  <div class="card-body">
    <h5 class="card-title"><strong> <%= @tags.name %> </strong></h5>
    <p class="card-text"><b>Edit</b> Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <form action="/tag/<%= @tags.id %>/edit" method="post">
      <input type="text" name="name" value="<%= @tags.name %>">
      <input type="submit" class="btn btn-success value="save">
    </form>
  </div>
</div>