<div class="container d-flex justify-content-center">
  <div class="col-sm-4">
      <form action="/tag/new">
      <label for="newtag"></label>
      <input type="submit" name="newtag" class="btn btn-secondary" value="Create New Categorie">
      </form>
        <ul class="list-group">
          <% for tag in @tags %>
          <li class="list-group-item"><a href="/tag/<%= tag.id %>"><%=tag.name %></a></li>
        </ul>
      <% end %>
  </div>
</div>
    
