<div class="card text-center head-list d-flex align-items-center justify-content-center">
  <div class="card-body">
    <h4 class="card-title">Catagories</h4>
    <p class="card-text"><b>Create</b> or <b>Edit</b> Existing Catagories.</p>
    <a href="/tag/new"" class="btn btn-success">Create New</a>
  </div>
</div>

<% for tag in @tags %>

<div class="container main-list second item text-center">  
  <ul class="list-group">  
    <li class="list-group-item shadow list-group-item-action">
      <a href="/tag/<%= tag.id %>"> <%= tag.name %> </a>
    </li>    
  </ul>
</div> 

<% end %>
