<div class="container">
        <h1 class="display-4">New Categorys</h1>
        <form action="/tag/new" method="post">
            <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name"></label>
                <input type="text" name="name" class="form-control" id="tag" placeholder="Groceries...">
                <button type="submit" value="save" class="btn btn-success">Create</button>
            </div>