<div class="container-fluid text-center align-items-center justify-content-center">
<div class="row">
  <form action="/tag/new" method="post">
    <div class="form-group col-md-4">
        <label for="name"> Create New Category </label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Grocories...">
        <button type="submit" value="save" class="btn btn-success">Create</button>
    </div>
</div>
</div>