  <div class="card-body border create-card text-center">
    <h5 class="card-title">New Category</h5>
    <p class="card-text">Creating a New Catagory, You will be able to Edit and Delete after Creating.</p>
  <form action="/tag/new" method="post">
    <div class="form-group">
        <label for="name"></label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Grocories...">
    </div>
      <button type="submit" value="save" class="btn btn-success create-btn">Submit</button>
  </form>
</div>
  
  