<form action="/merchants/<%= @merchant.id %>" method = "post">

  <label for="name">Edit Merchants:</label>
  <input type="text" id="name" name="add merchant" value="<%= @merchant.name %>">
  <input type="submit" value="update">

</form>
