<form action="/merchants" method="post">
  <label class="edit" for="name">New Merchant:</label>
  <input type="text" id="name" name="name">
  <input class="button" type="submit" value="save">
</form>
