body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  font-family: 'Open Sans';
  height: 100vh;
  height: 100%;
}

html {
  height: 100vh;
  height: 100%;
}

.hero-text-main {
  color: black;
}

.hero {
  margin-bottom: 4rem;
}

.return-main {
  font-size: 2rem;
}

.hero {
  background: url("https://images.unsplash.com/photo-1587334274328-64186a80aeee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1002&q=80");
  background-position: top left;
  background-size: cover;
  height: 100vh;
}

.lead {
  font-size: 1.5em;
}

.navbar {
  background-color: #6d6875;
}

.bi-bank {
  font-size: 2.4rem;
}

.bi-cash-coin{
  font-size: 2.4rem;
}

.bi-journal-arrow-up {
  font-size: 2.4rem;
}