<h1>New Transaction</h1>

<form class="form" action="/transaction/new" method="post">
  <h3> Merchant</h3>
  <select name="merchant_id">

    <% for merchant in @merchants %>
    <option value="<%= merchant.id %>"><%= merchant.name %></option>
    <% end %>
  </select>

  <h3> Tag </h3>
  <select name="tag_id">

    <% for tag in @tags %>
    <option value="<%= tag.id %>"><%= tag.name %></option>
    <% end %>
  </select>

<h3>Amount: £</h3>
  <input type="number" name="value">
  <input type="submit" value="add transaction">
</form>

