<div class="card-body shadow border create-card text-center">
    <h5 class="card-title">New Transaction</h5>
    <p class="card-text">Create a New Transaction and add the amount.</p>
  <form action="/transaction/new" method="post">
  <select name="merchant_id" class="form-select merchSelect" aria-label="Default select example">
  <% for merchant in @merchants %>
  <option value="<%= merchant.id %>"><%= merchant.name %></option>
  <% end %>
</select>
<select name="tag_id" class="form-select" aria-label="Default select example">
  <% for tag in @tags %>
  <option value="<%= tag.id %>"><%= tag.name %></option>
  <% end %>
</select>

    <div class="form-group">
        <label for="name"></label>
        <input type="number" name="value" class="form-control" id="name" required placeholder="£">
    </div>
      <button type="submit" value="save" class="btn btn-success create-btn">Add</button>
  </form>
</div>