<section class='container h-100'>
  <div class='row h-100 justify-content-center align-items-center'>
    <div class='col-12'>
        <div class='form-group mt-1'>
          <div class='text-center'>
            <p class='lead'>
              <i class='bi bi-bank'></i>
            </p>
            <% for budget in @budgets %>
            <p class='lead'>Budget.</p>
            <h2>
              £<%= sprintf('%.2f', budget.amount) %>
            </h2>
          </div>
        </div>
        <div class='form-group'>
          <div class='text-center mb-4'>
            <p class='lead'>Excess.</p>
            <h2>
              £<%= sprintf('%.2f', budget.amount - @total) %>
            </h2>
          </div>
          <div class=' text-center'>
            <a href='/budgets/<%= budget.id %>/edit'>
              <button type='submit' class='btn btn-outline-primary'>
                Edit
              </button>
            </a>
          </div>
        </div>
      <% end %>
    </div>  
  </div>
</section>