<!-- <!DOCTYPE html>
<html>
<head>
  <title>Harry Potter & The Houses</title>
  <link href="" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav id="menu">
    <li class="menu-item"><a href='/students'>Students</a></li>
    <li class="menu-item"><a href='//'>Enrol Student</a></li>
  </nav>
  <h1 id="logo">Spending Tracker</h1>
  <%= yield %>

</body>
</html> -->
